:root {
	--text: light-dark(#494d00, #fbffb3);
	--background: light-dark(#fdffe0, #1d1f00);
	--primary: light-dark(#aeb800, #f6ff47);
	--secondary: light-dark(#ebeec4, #383b11);
	--accent: light-dark(#f9a9d5, #560632);

	--header-bg: light-dark(hsla(64, 55%, 85%, 0.7), #1a1a1a);

	/* Crisp theme */
	--t-crp-disabled-color: light-dark(#b8b8b8, #4d4d4d);
	--t-crp-background-hover: light-dark(#e0e4ae, #383b11);
	--t-crp-disabled-background-color: light-dark(#757575, #4d4d4d);

	--t-crp-link-primary: light-dark(#aeb800, #f6ff47);
	--t-crp-border: var(--secondary);
	--t-crp-light-border: light-dark(#f6ff47, #383b11);
	--t-crp-border-hover: light-dark(#c3c59b, #383b11);
	--t-crp-disabled-border: light-dark(#757575, #4d4d4d);

	// &[data-theme='light'] {
	// }

	// &[data-theme='dark'] {
	// }
}
