:root {
	--text: light-dark(#494d00, #fbffb3);
	--subText: light-dark(#8e9070, #a4a959);
	--background: light-dark(#fdffe0, #1d1f00);
	--primary: light-dark(#aeb800, #f6ff47);
	--secondary: light-dark(#ebeec4, #383b11);
	--tertiary: light-dark(#e5e7c1, #25280b);
	--accent: light-dark(#f9a9d5, #560632);

	--scroll: light-dark(#c7caa3, #383b11);

	--feedbuilder-active: light-dark(#dbddb3, #434520);

	--border: light-dark(#c7caa3, #383b11);

	--header-bg: light-dark(hsla(64, 55%, 85%, 0.7), #1a1a1a);
	--modal-bg: light-dark(#ecedca, #1a1a1a);
	--modal-bg-noBlur: light-dark(#f4f6d5, #1a1a1a);
	--separator: light-dark(#c7caa3, #383b11);

	--ytEmbedBlur: light-dark(hsla(64, 65%, 90%, 0.387), hsla(0, 0%, 10%, 0.521));
	--ytEmbedBlurHover: light-dark(hsla(64, 65%, 90%, 0.387), hsla(0, 0%, 10%, 0.521));

	/* Crisp theme */
	--t-crp-disabled-color: light-dark(#b8b8b8, #4d4d4d);
	--t-crp-background-hover: light-dark(#f2f4cb, #383b11);
	--t-crp-disabled-background-color: light-dark(#e7e9c7, #4d4d4d);

	--t-crp-link-primary: light-dark(#aeb800, #f6ff47);
	--t-crp-link-primary-visited: light-dark(#989f12, #a9af2a);
	--t-crp-border: var(--secondary);
	--t-crp-light-border: light-dark(#f6ff47, #383b11);
	--t-crp-border-hover: light-dark(#c3c59b, #383b11);
	--t-crp-disabled-border: light-dark(#beb7b7, #4d4d4d);

	// Article
	--link-foreground: light-dark(#37352f, #f6ff47);

	&[data-theme='light'] {
		color-scheme: light;

		--t-crp-box-shadow: #1f23280a 0px 1px 0px 0px, #ffffff40 0px 1px 0px 0px inset;
		--t-crp-elevation-shadow: #8c959f33 0px 8px 24px 0px;
		--t-crp-select-downArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");

		& {
			#sun {
				display: unset;
			}

			#moon {
				display: none;
			}
		}
	}

	&[data-theme='dark'] {
		color-scheme: dark;

		--t-crp-box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px;
		--t-crp-elevation-shadow: #191a1a 0px 8px 24px 0px;
		--t-crp-select-downArrow: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		& {
			#sun {
				display: none;
			}

			#moon {
				display: unset;
			}
		}
	}
}

// select * from "Topic" order by random() limit 1;
